.vscode/
soti-stm32project-nucleo/.settings/
soti-stm32project-nucleo/Debug/
soti-stm32project-boardV1/.settings/
soti-stm32project-boardV1/Debug/
__pycache__
*.DS_Store
messages.json
soti-cli/messages.json
camera_data.txt
soti-cli/camera_data.txt
sat_image*
soti-cli/sat_image*
